:root{
  --bg-body: #23252C;
  --bg-container: #1A1B21;
  --text-heading: #fff;
  --text-sub-heading: #F3BF99;
  --btn-text:#374151;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--bg-body);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container{
 background-color: var(--bg-container);
 border-radius: 12px;
 margin: 1rem 0;
}